**/spinflow.egg-info/**
*.jpg
*.png
*.mp4
*.pth
*.npz
*.txt
*.bag
data
**/data/**
**/model_ckpts/**
**/model_ckpts*/**
**/model_evals/**
**/cotracker_outputs/**
model_ckpts*
**/outputs/**
**/__pycache__/**
**/checkpoint/**
**/checkpoints/**
**/cache/**
**/polyline_test/**
**/cotracker_test/**
**/old/**
.nfs*
.gmap_api_key
.env
